.header {
    margin: 0 0 20px 0;
    animation: pop-in .8s ;
    background-color: #3fbfbb;
    width: 100%;
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: center;
    box-shadow: 0 5px 5px #e4e4e4a8;

    > span {
        align-self: center;
        font-family: "Circular-Pro-Black";
        font-size: 50px;
        color: white;
    }
}

@keyframes pop-in {
    0% {
        width: 0;
        opacity: 0;
        transform: translateY(-4em) scale(.8)
    }
    100% {
        width:100%;
        opacity: 1;
        transform: none;
    }
}
