.book {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e4e4e4a8;
    padding: 10px;
    background-color: #e6e6e6;
    margin: 5px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    &__property {
        display: flex;
        align-items: center;
        &__name {
            color: #3fbfbb;
            font-size: 16px;
            margin: 5px;
            width: 120px;
        }
        &__value {
            width: 120px;
            margin: 5px;
        }
    }
}
